<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JioTV Go</title>
    <style>
      html,
      body {
        height: 100%;
      }

      body {
        margin: 0;
        background: #05070d;
        overflow: hidden;
      }

      #player-shell {
        height: 100%;
        width: 100%;
      }

      #jiotv_go_player {
        height: 100%;
        width: 100%;
      }
    </style>
    <link rel="stylesheet" href="/static/external/flowplayer.css" />
    <script src="/static/external/flowplayer.min.js"></script>
    <script src="/static/external/hls.min.js"></script>
    <script src="/static/external/qsel.min.js"></script>
    <script src="/static/external/asel.min.js"></script>
    <script src="/static/external/keyboard.min.js"></script>
  </head>

  <body>
    <div id="player-shell">
      <div id="jiotv_go_player"></div>
    </div>
    <script>
      var player = flowplayer("#jiotv_go_player", {
        src: "{{ .play_url }}",
        auto_orient: true,
        live: true,
        seekable: true,
        retry: true,
        autoplay: false,
        qsel: {},
        asel: {},
        ui: flowplayer.ui.USE_THIN_CONTROLBAR,
      });

      player.on(flowplayer.events.FULLSCREEN_ENTER, (e) => {
        if (screen.orientation) {
          screen.orientation.lock("landscape").catch((err) => {
            if (err.name !== "NotSupportedError") {
              console.error(err);
            }
          });
        }
      });

      player.on(flowplayer.events.FULLSCREEN_EXIT, (e) => {
        if (screen.orientation) {
          screen.orientation.unlock();
        }
      });
    </script>
  </body>
</html>
